
table { width: 100%; border-collapse: collapse; }
    th, td { border: 1px solid black; padding: 8px; text-align: left; }
    th { background-color: #f4f4f4; }
    select { margin-bottom: 10px; padding: 5px; }
    .flex-container {
    display: flex;
    flex-direction: row;
    margin: 0;
}
.topnav {
    display: flex; /* Layout flessibile */
    align-items: center; /* Allinea verticalmente */
    justify-content: space-between; /* Spaziatura tra link e immagine */
    background-color: black;
    padding: 10px 20px;
    font-family:'Arial', sans-serif;
}

/* Stile dei link nella nav */
.row1 {
    display: flex;
    gap: 10px;
}

.row1 a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: solid white 1px;
}

.row1 a:hover {
    color: black;
    background-color: grey;
}

/* Stile immagine utente */
.row2 img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Immagine rotonda */
    object-fit: cover;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px 0;
    z-index: 10;
    width: 180px;
}

/* Stile delle voci del menu */
.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}
.style{
    font-family:'Arial', sans-serif;
    background-color:whitesmoke;
    color: black;
    padding: 10px 20px;
}
tr{
    background-color: whitesmoke;
    font-family:'Arial', sans-serif;
}
th{
    background-color: orange;
}
.header{
    background-color: orange;
    color: black;
    text-align: center;
    padding: 20px;
    margin: 0px;
    height: 70px;
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    font-family: 'Lato', sans-serif;
}
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    font-size: 0.9em; /* Assicura che il footer stia sempre in fondo */
}
html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}
option{
    background-color: orange;
}
select{
    background-color: orange;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input{
    background-color: orange;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}